      /* footer with top white border separating from content */
      .footer {
        display:flex;
        align-items:center;
        height:4rem;
        width:100%;
        border-top:2px solid white;
        padding: 0 1rem;
        background:rgba(255, 255, 255, 0.3); 
        position: relative;
      }
      
      /* text input box */
      .text-input {
        padding: 0 1rem;
        margin-left: 1.9rem;
        height:2rem;
        width:80%;
        background:rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border: 1px solid white;
        border-radius:1rem;
        position:absolute;
      }
      
      /* send button */
      .send {
        border-radius: 50%;
        border:none;
        height:1.6rem;
        width:1.6rem;
        position: absolute;
        right: 1rem;
        background:rgb(151, 148, 148);
        cursor: pointer;
      }

      .camera {
        border-radius: 50%;
        border:none;
        height:1.8rem;
        width:1.8rem;
        position: absolute;
        right: 1rem;
        background:rgb(199, 10, 10);
        cursor: pointer;
        color:beige
      }